dialog {
  position: fixed;
  inset: 0;
  display: grid;
  border: none;
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 735px;
  inline-size: 100%;
  min-inline-size: 250px;
  max-block-size: 400px;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

dialog img {
  max-height: 400px;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  padding: 37px 26px 24px 22px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog-h2 {
  margin-block-start: 0;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 25.74px;
  text-align: left;
  cursor: context-menu;
}

.dialog-form {
  display: flex;
  flex-direction: column;
}

.dialog-input {
  border: none;
  border-bottom: 1px solid #0000005c;
  padding: 10px 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: black;
}

.dialog-input:nth-child(1) {
  margin-top: 62px;
  margin-bottom: 20px;
}

.dialog-input:nth-child(2) {
  margin-bottom: 19px;
}

.dialog-input::placeholder {
  color: rgb(0 0 0 / 0.51);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
}

.dialog-input:focus {
  outline: none;
}

.time-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.time-button {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.62px;
  background-color: #fff;
  border: none;
  opacity: 0.74;
  text-wrap: nowrap;
  margin: 0 auto;
  margin-bottom: 16px;
}

.time-input {
  position: relative;
  opacity: 0;
  width: 150px;
  max-height: 14px;
  font-size: 150px;
}
.time-input-label {
  position: relative;
}

.time-input-span {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.62px;
  text-decoration: underline;
  text-underline-offset: 2px;
  border: none;
  position: absolute;
  bottom: 16px;
  left: 163px;
  z-index: -1;
}

.dialog-button {
  border: 1px solid #000;
  padding: 10px 65px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.43px;
  background-color: black;
  max-width: 304px;
  height: 49px;
  margin-bottom: 11px;
  transition: 0.3s all;
}

.dialog-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dialog-button:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

.personal-data-wrapper-popup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 9px;
}

.personal-data-text-popup {
  font-size: 9px;
  line-height: 12.26px;
  color: #0f171a;
}

.personal-data-text-popup-link {
  color: #6dbbe6;
}

.text-underline {
  text-decoration: underline;
}

.checkbox-custom {
  position: relative;
}

.checkbox-custom input[type="checkbox"] {
  display: none;
}

.checkbox-custom input[type="checkbox"] ~ b {
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  border: 0.6px solid #31363a;
  border-radius: 1px;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  font-size: 10px;
  color: #000000;
}

.checkbox-custom input[type="checkbox"]:checked ~ b:after {
  content: "\2713";
  position: absolute;
  top: 1px;
  left: 3px;
}

.close {
  background-color: #fff;
}

.dialog-close-button {
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/popup/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  inset-block-start: 12px;
  inset-inline-end: 12px;
  inline-size: 12px;
  aspect-ratio: 1/1;
}

.dialog-close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.personal-data-text-popup-link {
  text-decoration: none;
}

.dialog-paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.43px;
  margin-top: 6px;
}

/* dialog .done {
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  height: 100px;
  width: 100%;
  background-color: rgb(255, 0, 0);
  visibility: hidden;
}

.popup-after-popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 35vh;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 27px;
  padding: 20px 21px;
}

.popup-h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 47.67px;
  color: #6dbbe6;
}

.popup-p {
  font-size: 25px;
  font-weight: 400;
  line-height: 34.05px;
  text-align: center;
} */

/* adaptive */ /* adaptive */ /* adaptive */ /* adaptive */ /* adaptive */

.dialog-bg-img-mob {
  display: none;
}

@media (width < 770px) {
  .visually-hidden-mob {
    display: none;
  }

  dialog {
    display: flex;
    flex-direction: column;
    max-inline-size: 360px;
    inline-size: 100%;
    min-inline-size: 250px;
    max-block-size: 416px;
    padding: 0;
  }

  .dialog-bg-img-mob {
    display: block;
  }

  .dialog-bg {
    max-block-size: 158px;
  }

  .dialog-wrapper {
    max-block-size: 258px;
    padding: 12px 23px 10px;
  }

  .dialog-h2 {
    font-size: 18px;
    line-height: 22.62px;
  }

  .dialog-input {
    margin: 0;
    padding: 7px 0;
    font-size: 10px;
    line-height: 13.62px;
  }

  .dialog-input:nth-child(1) {
    margin: 0;
    margin-top: 9px;
  }

  .dialog-input:nth-child(2) {
    margin: 0;
    margin-top: 9px;
    padding-bottom: 8px;
  }

  .time-wrapper {
    margin-top: 12px;
    max-height: 29.61px;
  }

  .time-button {
    font-size: 10px;
    line-height: 13.62px;
  }

  .time-input {
    position: relative;
    opacity: 0;
    width: 150px;
    max-height: 14px;
    font-size: 150px;
  }

  .time-input-span {
    font-size: 10px;
    line-height: 13.62px;
    bottom: 0px;
  }

  .time-button {
    margin: 0;
  }

  .dialog-button {
    font-size: 15px;
    line-height: 20.43px;
    padding: 14.5px 97.5px;
    text-wrap: nowrap;
    margin-top: 10px;
  }

  b {
    margin-bottom: 16px;
  }

  .personal-data-text-popup {
    font-size: 7px;
    line-height: 9.53px;
  }

  .dialog-close-button {
    background-image: url(../images/popup/close-mob.png);
  }
}



















.container {
  width: 800px;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}


#countdown {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19.7px;
  max-width: 100%;
}

#countdown .circle {
  position: relative;
  width: 122px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdown .circle svg {
  position: relative;
  width: 122px;
  height: 122px;
  transform: rotate(270deg);
}

#countdown .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #e7e7e7;
  stroke-linecap: round;
  transform: translate(7px, 7px);
}

#countdown .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

#countdown div {
  position: absolute;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: black;
  max-height:122px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#countdown div span {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.43px;  
  text-transform: uppercase;
  padding-bottom: 25px;
}




@media screen and (max-width: 300px) {
  .text {
    font-size: 25px;
  }
}

@media (width <= 1000px) {
  .container {
    max-width: 550px;
  }
}


  @media (width <= 768px) {
    .container {
      max-width: 324px;
    }

    #countdown {
      max-width: 324px;
      gap: 12px;
      flex-wrap: nowrap;
      padding-bottom: 10px;
    }

    #countdown div {
      max-width: 324px;
      max-height: 74.5px;
      font-family: Noto Sans;
      font-size: 37px;
      font-weight: 400;
    }

    #countdown div span {
      max-width: 324px;
      font-size: 10px;
      font-weight: 400;      
    }

    #countdown .circle svg {
      max-width: 324px;
      max-width: 74.5px;
      max-height: 74.5px;
    }

    #countdown .circle {
      max-width: 324px;
      max-width: 74.5px;
      max-height: 74.5px;
    }

    #countdown .circle svg circle {
      cx: 29.5;
      cy: 29.5;
      r: 36;
    }


}